
%brand-primary {
    background-color: $brand-primary;
}

%brand-secondary {
    background-color: $brand-secondary;
}

%brand-tertiary {
    background-color: $brand-tertiary;
}

%gray1 {
    background-color: $gray1;
}

%gray2 {
    background-color: $gray2;
}

%gray3 {
    background-color: $gray3;
}

%gray4 {
    background-color: $gray4;
}

